.header{
    background-image: url(./bg-img-1.jpg);
    height: 250px;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .searcher{
        margin-right: auto;
        margin-left: auto;
        background-color: white;
        width: 724px;
        padding: 30px;

        .searcher-container{
            display: inline-block;
            width: 75%;
            padding-right: 20px;

            @media only screen and (max-width: 450px) {
                width: 100%;
                padding-right: 0;
            }
        }

        span{
            display: inline-block;
            width: 20%;
            font-size: 20px;
            @media only screen and (max-width: 450px) {
                width: 100%;
            }
        }

        @media only screen and (max-width: 450px) {
            padding: 10px 15px;
            flex-direction: column-reverse;
            display: flex;
          }
       
    }

    @media only screen and (max-width: 450px) {
        height: 85px;
      }
    
}