
.container-week{
        padding: 30px 50px;
    
        background: #F4F4F4;


        .week{
       
            padding: 80px 15px;
            margin: 0 auto;
       
            grid-template-columns: repeat( auto-fill, minmax(120px, 1fr) );
            max-width: calc(7 * 125px);
            grid-gap: 5px;
            display: grid;

            .week-day-container{
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
        }
}
