.input-container{
    display: flex;
  
    height: 32px;
    width: 100%;
    border: solid 1px black;
    border-radius: 3px;
    box-sizing: border-box;

    position: relative;

    &:focus-within{
        border: solid 2px #777777;
    }

    .comboBox{
        position: absolute;
        background-color: white;
        width: 100%;
        top: 33px;
        border: solid 2px #777777;

        .selectOption{
            cursor: pointer;
            height: 22px;
            padding: 9px;
            &:hover{
                background-color: #EAEAEA;
            }
        }
    }
    
    input{
        background-color: transparent;
        border: unset;
        padding: 0 16px;
        width: 100%;

        &:focus{
            outline: unset;
        }
    }
}
